header{
    background-color: white;
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
    background-position: 20% left;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}